/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Site */
body {
    font-family: roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Navbar Bootstrap Overrides */
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #9797FF;
}

.navbar-inverse .navbar-toggle {
    border-color: #9797FF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #9797FF;
}

.navbar-inverse {
    border-color: #9797FF;
    background-color: #6B6BFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #9797FF;
}

.glyphicon-log-out {
    cursor: pointer;
}

#fmk-alerts {
    margin: 60px auto;
}

/* Main */
#fmk-main {
    margin: 60px auto;
}

/* Profile */
.fmk-reminder-container {
    padding: 16px;
    position: relative;
}

.fmk-gravatar-image {
    width: 100%;
}

.fmk-username-title {
    font-size: 24px;
}

.fmk-form-label {
    text-align: right;
    font-weight: 500;
}

.fmk-reminder-container .input-group {
    width: 100%;
}

/* Add new reminder */
#fmk-add-new-reminder {
    margin-top: 30px;
}

.fmk-container {
    position: relative;
}

/* Add animation */
.fmk-reminder-container.ng-enter.ng-enter-active,
.fmk-reminder-container.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

/* Remove animation */
.fmk-reminder-container.ng-leave.ng-leave-active,
.fmk-reminder-container.ng-enter {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.fmk-reminder-container:hover .fmk-close-reminder-container {
    display: inline-block;
}

.fmk-close-reminder-container {
    display: none;
    position: absolute;
    padding: 8px;
    top: 8px;
    right: 16px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

.fmk-close-reminder-container:hover {
    color: red;
}

.fmk-delete-reminder-tooltip {
    display: none;
}

.fmk-close-reminder-container:hover .fmk-delete-reminder-tooltip {
    display: inline-block;
    position: absolute;
    padding: 0px;
    top: -10px;
    right: -2px;
}
