/* Color themes */

/* Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Site */
body {
    font-family: roboto;
}

/* Navbar Bootstrap Overrides */
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #9797FF;
}

.navbar-inverse .navbar-toggle {
    border-color: #9797FF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #9797FF;
}

.navbar-inverse {
    border-color: #9797FF;
    background-color: #6B6BFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #9797FF;
}

/* Main */
#fmk-main {
    margin-top: 60px;
}

/* Reminders */
.fmk-reminder-container {
    padding: 16px;
    position: relative;
}

.fmk-reminder-container .input-group {
    width: 100%;
}

/* Add animation */
.fmk-reminder-container.ng-enter.ng-enter-active,
.fmk-reminder-container.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

/* Remove animation */
.fmk-reminder-container.ng-leave.ng-leave-active,
.fmk-reminder-container.ng-enter {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.fmk-close-reminder-container {
    position: absolute;
    padding: 8px;
    top: 8px;
    right: 16px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;

}

.fmk-close-reminder-container:hover {
    background-color: #ddd;
    transition: box-shadow 0.3s;
    color: red;
}
