<div class="row">
  <div class="col-md-5">
    <h2>Reminders</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let reminder of reminders"
        (click)="selectReminder(reminder)"
        [class.active]="reminder === selectedReminder">
        {{reminder.title}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewReminder()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <reminder-details
      [reminder]="selectedReminder"
      [createHandler]="addReminder"
      [updateHandler]="updateReminder"
      [deleteHandler]="deleteReminder">
    </reminder-details>
  </div>
</div>
