<div *ngIf="reminder" class="mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop">
    <h2 *ngIf="reminder._id">Reminder Details</h2>
    <h2 *ngIf="!reminder._id">New Reminder</h2>
  </div>
</div>
<div *ngIf="reminder" class="mdl-grid">
  <form class="mdl-card mdl-cell mdl-cell--12-col-desktop">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="reminder-title" [(ngModel)]="reminder.title" name="reminder-title">
      <label class="mdl-textfield__label" for="reminder-title">Title</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="reminder-day-frequency" [(ngModel)]="reminder.dayFrequency" name="reminder-day-frequency">
      <label class="mdl-textfield__label" for="reminder-day-frequency">Remind me every ...</label>
      <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" *ngIf="!reminder._id" (click)="createReminder(reminder)">Create</button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" *ngIf="reminder._id" (click)="updateReminder(reminder)">Update</button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" *ngIf="reminder._id" (click)="deleteReminder(reminder._id)">Delete</button>
  </form>
</div>
